@inherits AddFileView
@using MatBlazor
<MatDialog @bind-IsOpen="IsOpen" CanBeClosed="false">
    <MatDialogTitle>

        <p>AddFile
            <div class="btn btn-success" style="margin-right :5px;margin-left:2px" @onclick="@(e => SaveItem.InvokeAsync(UpLoadList))">Save</div>
            <div class="btn btn-danger" @onclick="@(e => Close())">Cansel</div>
            <label>
                <InputFile OnChange="@LoadFiles" multiple />
            </label>
        </p>
    </MatDialogTitle>
    <MatDialogContent>
        @if (isLoading)
        {
            <p>Uploading...</p>
        }
        else
        {
            <ul>
                @foreach (var file in loadedFiles)
                {
                    <li>
                        <ul>
                            <li>Content type: @file.ContentType</li>
                        </ul>
                    </li>
                }
            </ul>
        }
    </MatDialogContent>

</MatDialog>
@code
{

}